<!-- INCLUDE overall_header.html -->
<!-- cosa fare -->
<style>
.mybutton{
border: solid thin #882d13;
-webkit-border-radius: .7em;
-moz-border-radius: .7em;
border-radius: .7em;
text-shadow: 0.5px 0.5px 0.5px #000;
padding: .5em;
}
</style>

<div class="forabg" align="center">
<h1>Hai rifiutato i cookie, quindi non puoi navigare nel nostro sito.<br />Link utili:</h1>

<br /><br /><br />
<button class="mybutton" onclick="location.href='http://google.com'">GOOGLE</button>&nbsp;&nbsp;&nbsp;
<button class="mybutton" onclick="location.href='http://yahoo.com'">YAHOO</button>
</div>
<!-- INCLUDE overall_footer.html -->
